div {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: #0000006b;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 15px;
padding: 20px;
}

a {
    background-color: rgba(0, 0, 0, 0.692);
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 12px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

input {
    background-color: rgba(5, 70, 25, 0.356);
    color: #fff;
    text-decoration: none;
    padding: 5px 7px;
    font-size: 10px;
    cursor: pointer;
    margin: 1px;
    border-radius: 5px;
}

body {
    background-image: linear-gradient(to right, rgb(61, 161, 100), rgb(3, 43, 3));
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}